<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>webclass</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <filter>
    <description>访问过滤</description>
    <filter-name>VisitFilter</filter-name>
    <filter-class>com.zeno.filter.VisitFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VisitFilter</filter-name>
    <url-pattern>/UserServlet</url-pattern>
    <url-pattern>/StudentServlet</url-pattern>
  </filter-mapping>
  <filter>
    <description>编码过滤器</description>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.zeno.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description>登录</description>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.zeno.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>学生信息</description>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.zeno.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  
</web-app>